body{
            font-family: 'Montserrat', sans-serif;
			margin:0;
			overflow:hidden;
            background: #FAFAF1;
		}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}


.popup{
            
            background-color: rgba(50, 50, 50, 0.7);
            color: rgba(255, 255, 255, 1.0);
            border-radius: 5px;
            position: absolute;
            bottom: 5px;
            left: 5px;
            padding: 0px 20px 0px 20px;
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.17);
            z-index:1109;
        }

#popup2{
            max-width: 75%;
            height: auto;
            background-color: rgba(50, 50, 50, 0.49);
            color: rgba(255, 255, 255, 1.0);
            border-radius: 5px;
            position: fixed;
            padding: 5px 20px 5px 20px;
            margin-left: 20px;
            margin-top: 20px;
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.17);
            z-index:1109;
        }
.logo{
            position: absolute;
            top: 35px;
            left: 10px;
            z-index:1109;
        }

.title{
            position:absolute;
            font-size: 15px;
            padding: 0px;
            margin: 0px;
            top:0px;
            left: 5px;
            color: #000000;
            text-align: left;
            text-decoration:none;
        }

.info{
            position:absolute;
            font-size: 12px;
            padding: 0px;
            margin: 0px;
            top:20px;
            left: 2px;
            color: #ffffff;
            text-align: left;
            text-decoration:none;
        }

.doubleclicked{
            font-size: 12px;
            color: red;
            position: absolute;
            bottom: -15px;
            left: 3px;
            z-index:1109;
        }

.text{
    text-decoration:none;
    color: #ffffff;
    }

iframe {
    width: 100%;
    height: 80%;
    border: none;
}

.logo2{
            position: absolute;
            bottom: 4%;
            right: 10px;
            z-index:1109;
            width: 20%;
        }

#closebtn { background: rgba(140, 140, 140, 0.5); border: 1px solid gray; padding: 0px 8px; font-weight: bold; cursor: pointer; border-radius: 15px; }
