

.dg {
       color: #FFE69C;
       font: 400 11px Verdana, Arial, sans-serif;
       text-shadow: white 0 0 0;
       text-align: left;
} 
.dg .c .slider {
       background: -moz-linear-gradient(center top, #FFE69C 34%, #dfdfdf 71%);
       background: -ms-linear-gradient(top, #FFE69C 34%, #dfdfdf 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #FFE69C), 
                    color-stop(71%, #dfdfdf));
       background-color: #ededed
} 
.dg .c .slider:hover {
       background: #dfdfdf
}
           
.dg .c .slider-fg {
       background: #bdbdbd none repeat scroll 0% 0%
}

.dg .c .slider:hover .slider-fg {
    background: #939393 none repeat scroll 0% 0%
}

.dg .c input[type=text] {
       background: -moz-linear-gradient(center top, #ffffff 34%, #dfdfdf 71%);
       background: -ms-linear-gradient(top, #ffffff 34%, #dfdfdf 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #ffffff), 
                    color-stop(71%, #dfdfdf));
       background-color: #ededed;
       border-color: lightgrey;
       border-radius: 2px;
       border-style: solid;
       border-width: 1.1px;
       color: white
} 
.dg .c input[type=text]:active {
       background: white;
       color: black;
       outline-color: lightblue;
       outline-style: solid;
       outline-width: 1.5px
} 
.dg .c input[type=text]:focus {
       background: white;
       color: black;
       outline-color: lightblue;
       outline-style: solid;
       outline-width: 1.5px
} 
.dg .c input[type=text]:hover {
       background: white;
       color: black;
       outline-color: lightblue;
       outline-style: solid;
       outline-width: 1.5px
} 
.dg .closed li.title {
       background: -moz-linear-gradient(center top, #ededed 34%, #dfdfdf 71%);
       background: -ms-linear-gradient(top, #ededed 34%, #dfdfdf 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #ededed), 
                    color-stop(71%, #dfdfdf));
       background-color: #ededed;
       border: 1px solid #dcdcdc;
       border-radius: 2px;
       box-shadow: inset 1px 0 9px 0 white;
       color: #777;
       text-shadow: 1px 0 0 white
} 
.dg .cr.boolean:hover {
       background: white;
       border-bottom: 1px solid silver;
       border-right: 1px solid silver
}
.dg .cr.function:hover {
       background: -moz-linear-gradient(center top, #6699FF 34%, #2F69B3 71%);
       background: -ms-linear-gradient(top, #6699FF 34%, #2F69B3 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #6699FF), 
                    color-stop(71%, #2F69B3));
       background-color: #2F69B3;
       border-bottom: 1px solid silver;
       border-right: 1px solid silver
} 
.dg li.cr {
       background: -moz-linear-gradient(center top, #2F69B3 34%, #6699FF 71%);
       background: -ms-linear-gradient(top, #2F69B3 34%, #6699FF 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #2F69B3), 
                    color-stop(71%, #6699FF));
       background-color: #2F69B3;
       border-bottom: 1px solid silver;
       border-right: 1px solid silver
} 
.dg li.cr:hover {
       background: -moz-linear-gradient(center top, #2F69B3 34%, #6699FF 71%);
       background: -ms-linear-gradient(top, #6699FF 34%, #2F69B3 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #6699FF), 
                    color-stop(71%, #2F69B3));
       border-bottom: 1px solid silver;
       border-right: 1px solid silver
}
.dg li.title, .dg closed {
       background: -moz-linear-gradient(center top, #ededed 34%, #dfdfdf 71%);
       background: -ms-linear-gradient(top, #ededed 34%, #dfdfdf 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #ededed), 
                    color-stop(71%, #dfdfdf));
       background-color: #ededed;
       border: 1px solid #dcdcdc;
       border-radius: 2px;
       box-shadow: inset 1px 0 9px 0 white;
       color: black;
       text-shadow: 1px 0 0 white
} 
.dg li.title:hover {
       outline-color: #40e0d0;
       outline-style: solid;
       outline-width: 1.5px
} 
.dg.main .close-button {
       background: -moz-linear-gradient(center top, #2F69B3 34%, #6699FF 71%);
       background: -ms-linear-gradient(top, #2F69B3 34%, #6699FF 71%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, #2F69B3), 
                    color-stop(71%, #6699FF));
       background-color: #2F69B3;
       border: 1px solid #6699FF;
       border-radius: 2px;
       box-shadow: inset 1px 0 9px 0 #FFE69C;
       color: #FFE69C;
       height: 27px;
       line-height: 27px;
       text-align: center;
       text-shadow: 1px 0 0 white
} 
.dg.main .close-button:hover {
       outline-color: #FFE69C;
       outline-style: solid;
       outline-width: 2px
}
.dg .c {
    width: 50%
}
 
.dg .property-name {
    width: 50%
}

.dg .cr.number input[type="text"] {
    color: #7e7e7e;
}

.dg .has-slider input[type=text]{
    width:25%;margin-left:0
}
.dg .cr.number {
    border-left: 7px solid #bdbdbd
}
.dg .cr.boolean {
    border-left: 7px solid #bdbdbd
}
